// header.styl

.header
	.container
		margin 0 auto
	i
		color #ccc
		font-size 32px
	ul
		list-style none
		margin 0 auto
		padding 0 0 30px 0
		float left
	li
		float left
		border-right 1px solid #030303
		line-height 12px
	li:last-of-type
		border none
	a
		padding 0 20px
	a, p
		color #030303
		font-family sans-serif
		text-transform uppercase
		font-size 14px
ul.social
	float right
	li
		border none
	a
		padding 10px
.logo
	float left

@media ( min-width 741px )
	.header
		ul
			margin-top 100px
		.social
			margin-top: 90px

@media ( max-width 740px )
	.header
		ul
			margin 0 auto
			width 270px
			float none
			a
				font-size 11px
				padding 0 10px
		.logo
			float none
			margin 0 auto
			width 181px
		ul.social
			width 140px
			margin 20px auto
