// header.styl

.header
	.container
		margin 0 auto
	i
		color #ccc
		font-size 28px
	ul
		padding-top 100px
		list-style none
		margin 0 auto
		padding-bottom 30px
		float: left
	li
		float left
		border-right 1px solid #030303
		line-height 12px
	li:last-of-type
		border none
	a
		padding 0 15px
	a, p
		color #030303
		font-family sans-serif
		text-transform uppercase
		font-size 11px
ul.social
	float right
	li
		border none
	a
		padding 10px
.logo
	float left