// hero.styl

.hero
	background url(../images/hero.png)
	background-position center center
	min-height 631px
	position relative
	.text
		position absolute
		top 34%
		left 58%
	h2
		color white
		font-size 49px
		letter-spacing 4px
	p
		color white
		font-size 24px
		line-height 30px
		max-width 480px

@media ( max-width 800px )
	.hero .text
		left: 10%
		top: 10%
		text-shadow 1px 1px 1px #333