@import 'nib'

body
	background: white
	color: #696969

h1
	text-align: center

div
	border-radius: 4px
	width: 300px
	margin: 0 auto
	background: white
	box-shadow: 1px 1px 3px #333
	padding: 10px 30px