@import 'nib'

// .ct-label.ct-horizontal
// 	transform rotate( 90deg )

body
	background white
	color #030303
	font-family serif

h1
	text-align center

p
	font-family sans-serif

.shadow
	border-radius 4px
	margin 0 auto
	box-shadow 1px 1px 3px #333
	padding 10px 30px
	background white

.container
	margin-top 30px
	margin-bottom 90px

.heading h2,
.heading p
	text-align center
