//- footer.jade
.footer
	ul
		li 
			a(href='#') Contact
		li 
			a(href='#') Partner Stores
		li 
			a(href='#') Careers
		li 
			a(href='#') Terms And Conditions
		li 
			a(href='#') Client Services
		li 
			a(href='#') About
		li 
			a(href='#') Club B'I
	p.footer-info Site last modified: 
		span=timestamp
if env === 'dev'
	script(src='//localhost:35729/livereload.js')
	each script in javascripts
		script(src='../' + script)
else
	script(src='js/bundle.js')