//- footer.jade
.prefooter
	h2 Our Mission Is to create the proper introduction for your memeorable affair
	button.orange
		span.text Get Started Today
.footer
	ul
		li 
			a(href='#') Contact
		li 
			a(href='#') Partner Stores
		li 
			a(href='#') Careers
		li 
			a(href='#') Terms And Conditions
		li 
			a(href='#') Client Services
		li 
			a(href='#') About
		li 
			a(href='#') Club B'I
	p.footer-info Site last modified: 
		span=timestamp
if env === 'dev'
	script(src='//localhost:35729/livereload.js')
	each script in bypass.javascripts
		script(src=script)
	each script in javascripts
		script(src='../' + script)
else
	each script in bypass.javascripts
		script(src=script)
	script(src='js/bundle.js')