//- footer.jade
.footer
	p.footer-info Site last modified: 
		span=timestamp
if env === 'dev'
	script(src='//localhost:35729/livereload.js')
	each script in javascripts
		script(src='../' + script)
else
	script(src='js/bundle.js')