//- header.jade
head
	title Title

	meta(name='viewport', content='width=device-width, initial-scale=1')
	meta(name='description', content='Site Description')
	meta(charset='utf-8')

	script(src='//localhost:35729/livereload.js')
	script(src='../bower_components/jquery/dist/jquery.js')
	script(src='../bower_components/jquery-cycle2/build/jquery.cycle2.js')

	link(rel='stylesheet', href='../bower_components/bootstrap/dist/css/bootstrap.css')
	link(rel='stylesheet', href='css/futura.css')
	link(rel='stylesheet', href='css/style.css')
	link(rel='canonical' href='http://hyprtxt.com')
