.header
	.container
		.logo
			img(src='http://placebear.com/150/150')
		ul
			li
				a(href='#') Wedding Invitations
			li
				a(href='#') Digital Bespoke
		ul
			li
				a(href='#') 
					i.fa.fa-twitter
			li
				a(href='#') 
					i.fa.fa-facebook
			li
				a(href='#') 
					i.fa.fa-pinterest-p