- var title = 'Reap Table Maker'
- var description = 'Visualize Google Analytics Queries'
doctype html
html
	include ./jade/header.jade
	body
		include ./jade/nav.jade
		.container.shadow
			.row
				.col-sm-12
					h1=title
					p=description
					hr
				.col-sm-6
					h3 Select A Query
					select#queryOptions
				.col-sm-12
					h3 Tables!

				.col-sm-12
					table.tablesaw.tablesaw-stack(data-tablesaw-mode="stack")
						thead#table_head
						tbody#table_body

				.col-sm-12
					h3 Returned Data
					pre#theJSON
					br

				//- .col-sm-12
				//- 	table#table-9438.tablesaw.tablesaw-stack(data-tablesaw-mode='stack')
				//- 		thead
				//- 			tr
				//- 				th(scope='col', data-tablesaw-sortable-col='', data-tablesaw-priority='persist') Movie Title
				//- 				th(scope='col', data-tablesaw-sortable-col='', data-tablesaw-sortable-default-col='', data-tablesaw-priority='3') Rank
				//- 				th(scope='col', data-tablesaw-sortable-col='', data-tablesaw-priority='2') Year
				//- 				th(scope='col', data-tablesaw-sortable-col='', data-tablesaw-priority='1')
				//- 					abbr(title='Rotten Tomato Rating') Rating
				//- 				th(scope='col', data-tablesaw-sortable-col='', data-tablesaw-priority='4') Gross
				//- 		tbody
				//- 			tr
				//- 				td.title
				//- 					span.tablesaw-cell-content
				//- 						a(href='http://en.wikipedia.org/wiki/Avatar_(2009_film)') Avatar
				//- 				td
				//- 					span.tablesaw-cell-content 1
				//- 				td
				//- 					span.tablesaw-cell-content 2009
				//- 				td
				//- 					span.tablesaw-cell-content 83%
				//- 				td
				//- 					span.tablesaw-cell-content $2.7B


		include ./jade/footer.jade