//- index.jade
doctype html
html
	include ./jade/header.jade
	body
		.container
			.row
				.col-sm-12.shadow
					h1 The Site Heading
					hr
					p This is a Grunt task managed development environment
					include:markdown ../readme.md
