//- NOTE: These are optional overrides
//- - var title = 'Reap Table Maker'
//- - var description = 'Visualize Google Analytics Queries'
doctype html
html
	include ./jade/header.jade
	body
		include ./jade/nav.jade
		.hero
			h2 Love is in the Air
			p Lipsum Dolor Sit Amet

		.container
			.col-sm-12
				h2=heading

			.row
				.col-sm-7
					h3 Hand Bordered Square
					p Lipsum Dolor Sit Amet
					button Customize
				.col-sm-5
					img(src='http://placekitten.com/g/300/300')
			.row
				.col-sm-5
					img(src='http://placekitten.com/g/300/300')
				.col-sm-7
					h3 Colby Wedding Invitation
					p Lipsum Dolor Sit Amet
					button Customize

			br
			br
			hr

			.row
				.col-sm-12.heading
					h2 Coture Wedding Invitations
					p Some weddings call for an introduction a bit more luxurious. For those kinds of weddings, we offer Couture wedding invitations that introduce your wedding with only the highest form of taste and social grace.

			.row
				.col-sm-7
					h3 Freeman + Carlisle
					p Lipsum Dolor Sit Amet
					button View Invitation
				.col-sm-5
					img(src='http://placekitten.com/g/300/300')

			.row
				.col-sm-5
					img(src='http://placekitten.com/g/300/300')
				.col-sm-7
					h3 Callahan + Shaw
					p Lipsum Dolor Sit Amet
					button View Invitation

			.hero
				h2 Our Mission Is to create the proper introduction for your memeorable affair
				button Get Started Today

		include ./jade/footer.jade