//- index.jade
doctype html
html
	include ./jade/header.jade
	body
		.container.shadow
			.row
				.col-sm-12
					h1=heading
					hr
					p This is a boilerplate for single page JavaScript Applications
					hr
					h3 Get GAAPI Json Example
					pre#theJSON
					hr
					h3 JSViews Example
					select#queryOptions
		include ./jade/footer.jade