//- index.jade
doctype html
html
	include ./jade/header.jade
	body
		.container.shadow
			.row
				.col-sm-12
					h1=heading
					hr
					p welcome
					button#show1 Show Peeps 1
					button#show2 Show Peeps 2
					#peopleList
		include ./jade/footer.jade