//- index.jade
doctype html
html
	include ./jade/header.jade
	body
		.container.shadow
			.row
				.col-sm-12
					h1=heading
					hr
					p This is a boilerplate for single page JavaScript Applications
					hr
					h3 Select A Query
					form#pickAQuery
						select#queryOptions
						button Go!
					br
					h3 Returned Data
					pre#theJSON
					br
		.container.shadow
			.row
				.col-sm-12
					h2 Conversions Per By Page
					br
					canvas#ConversionsPerPage
		include ./jade/footer.jade