//- index.jade
doctype html
html
	include ./jade/header.jade
	body
		.container.shadow
			.row
				.col-sm-12
					h1=heading
					hr
				.col-sm-6
					p so much sauce
					p=env
				.col-sm-6
					include:markdown ../readme.md
		include ./jade/footer.jade