- var title = 'This page Title is Awesome Index'
- var description = 'This is a boilerplate for single page JavaScript Applications'
doctype html
html
	include ./jade/header.jade
	body
		include ./jade/nav.jade
		.container.shadow
			.row
				.col-sm-12
					h1=title
					p=description
					hr
					h3 Select A Query
					form#pickAQuery
						select#queryOptions
						button Go!
					br
					h3 Da Chart!
					canvas#daChart(width='800', height='400')
					h3 Returned Data
					pre#theJSON
					br
		include ./jade/footer.jade