- var title = 'Reap Table Maker'
- var description = 'Visualize Google Analytics Queries'
doctype html
html
	include ./jade/header.jade
	body
		include ./jade/nav.jade
		.container.shadow
			.row
				.col-sm-12
					h1=title
					p=description
					hr
				.col-sm-6
					h3 Select A Query
					select#queryOptions
				.col-sm-6#chartButtons
				.col-sm-12
					h3 Your Block/Insight
				.col-sm-12#theChart
				.col-sm-12#tableHolder
				.col-sm-12
					br
					button.btn.btn-default Save This Block
				//- .col-sm-12
					h3 Returned Data
					pre#theJSON
					br
		include ./jade/footer.jade