//- index.jade
doctype html
html
	include ./jade/header.jade
	body
		.container.shadow
			.row
				.col-sm-12
					h1 This is another page of the Application
					hr
					p welcome
					hr
					p Lets Do Something Here
					p Make it awesome
		include ./jade/footer.jade